<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li><a href={{ url_for('games') }}>Games</a></li>
                            <li><a href={{ url_for('platforms') }}>Platforms</a></li>
                            <li><a href={{ url_for('developers') }}>Developers</a></li>
                            <li class = "active"><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>


        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Team</h2>
                <img src="static/images/sixonthebeach.jpg" alt="Six on the Beach" width="80%" id = "picture">
            </div>
            <div class="col-lg-12">
                <h2 class="page-header">About Us!</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Bella.jpg" alt="Bella" id = "picture">
                <h3>Bella Shah</h3>
                <p>Bella is a 4th year Chemistry major. Interested in software engineering as a career. Enjoys backend development and intertwining software and chemistry.</p>
                <p>Major Responsibilities: Responsibilities included creating 3 instances of each model (9 HTML pages) in HTML and CSS and writing about the tools and introduction of the technical report. </p>
                <p> Commits: 9</p>
                <p> Issues: 8 </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Doris.jpg" alt="Doris" id = "picture">
                <h3>Doris Hui</h3>
                <p>Doris is a senior Economics major. Interested in pursuing customer facing roles in the technology industry, working to match user needs with technical solutions. Really loves to dance.</p>
                <p>Major Responsibilites: Setting up project respository and Slack, tracking GitHub issues, assisting with HTML and CSS syntax, and editing the technical report. Implemented Bootstrap and optimized formatting for details pages. Performed transitions to Digital Ocean and Flask.</p>
                <p> Commits: 17</p>
                <p> Issues: 23 </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Juan.jpg" alt="Juan" id = "picture">
                <h3>Juan Ramos</h3>
                <p>Juan is a 3rd year MIS major. Loves learning new things. Unrelated to academics, he really enjoys watching movies where the main character dies</p>
                <p>Major Responsibilities: Responsibilities included initial setup and structure of the website, design and structure of the pillars, and overall design of the website. Worked on pagination, sorting, added more data. </p>
                <p> Commits: 16</p>
                <p> Issues: 17 </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Hyunjoo.jpg" alt="Hyunjoo" id = "picture">
                <h3>Hyun Joo Song</h3>
                <p>Hyun Joo is a 4th year Economics major. </p>
                <p>Major Responsibilities: Responsibilities included making Splash page, implementing Javascript, setting up the technical reports and editing the About page. Improved the CSS for the splash page after Bootstrap was implemented. Added to the technical report. </p>
                <p> Commits: 5</p>
                <p> Issues: 8 </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Ananya.jpg" alt="Ananya" id = "picture">
                <h3>Ananya Kaushik</h3>
                <p>Ananya is a 3rd year Math major and loves swimming, singing, and reading.</p>
                <p>Major Responsibilities: Responsibilities included making splash page, implementing Javascript, and adding the data model in the report. Improved the CSS for the splash page after Bootstrap was implemented, modified the display of the About page, fixed styling of pagination plugin, worked on technical report. </p>
                <p> Commits: 11</p>
                <p> Issues: 11 </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/images/Nolan.jpg" alt="Nolan" id = "picture">
                <h3>Nolan Bentley</h3>
                <p>Nolan is a 3rd year iMPA major with a minor in finance. He enjoys being buried in the sand and eating lots of food.</p>
                <p>Major Responsibilities: Responsibilities included providing HTML structure and the philosophy of our pillars. Worked on technical report. </p>
                <p> Commits: 2</p>
                <p> Issues: 10 </p>
            </div>
        </div>


		<div class="row"> 
			<div class="col-lg-12">
				<h2 class="page-header">STATS</h2>
					<h5> <table class="noBorder">
                        <tr class="noColor"> <td class="td1">Total # of Commits:</td><td class="td2">63</td></tr>
                        <tr class="noColor"><td class="td1">Total # of issues:</td><td class="td2">46</td></tr>
						<tr class="noColor"><td class="td1">GitHub Issue Tracker:</td><td class="td2"> <a href="https://github.com/dorishui/cs329e-idb/issues">https://github.com/dorishui/cs329e-idb/issues</a></td></tr>
                        <tr class="noColor"><td class="td1">GitHub Repo:</td><td class="td2"> <a href="https://github.com/dorishui/cs329e-idb/">https://github.com/dorishui/cs329e-idb/</a></td></tr>
                        <tr class="noColor"><td class="td1">GitHub Wiki:</td><td class="td2"> <a href="https://github.com/dorishui/cs329e-idb/wiki">https://github.com/dorishui/cs329e-idb/wiki</a></td></tr>
                        <tr class="noColor"><td class="td1">Speaker Deck:</td><td class="td2"> <a href="https://speakerdeck.com/dorishui/cs-329e-project-5-idb3-presentation">https://speakerdeck.com/dorishui/cs-329e-project-5-idb3-presentation</a></td></tr></table>
                    </h5>
            </div>
        </div>

        <div class="row"> 
            <div class="col-lg-12">
                <h2 class="page-header">TOOLS</h2>
                    <h5> <table class="noBorder">
                    <tr class="noColor"> <td class="td1">Collaboration: </td><td class="td2"><a href="http://www.slack.com/">Slack</a></td> </tr>
                        <tr class="noColor"><td class="td1">Front-end Development: </td><td class="td2"><a href="http://www.w3schools.com/html/html_intro.asp">HTML</a>, <a href="http://www.w3schools.com/css/css_intro.asp">CSS</a>, <a href="http://www.w3schools.com/js/js_intro.asp">Javascript</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://datatables.net/">DataTables</a>, <a href="http://tablesorter.com/docs/">TableSorter</a></td></tr>
                        <tr class="noColor"><td class="td1">Back-end Development: </td><td class="td2"><a href="http://flask.pocoo.org/">Flask</a>, <a href="https://www.python.org/">Python</a></td></tr>
                        <tr class="noColor"> <td class="td1">Hosting: </td><td class="td2"><a href="https://www.namecheap.com/">Namecheap</a>, <a href="https://pages.github.com/">GitHub Pages</a>, <a href="https://www.digitalocean.com/">Digital Ocean</a></td></tr>
                        <tr class="noColor"> <td class="td1">Source Control: </td><td  class="td2"><a href="www.github.com/">GitHub</a></td></tr>
                        </table>
                    </h5>             
            </div>
        </div>

	</body>
</html>