<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Borderlands 2</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href={{ url_for('games') }}>Games</a></li>
							<li><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/Borderlands2.jpg" alt="Borderlands2" id = "photo"></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> Borderlands 2 </td>
				<tr>
					<th> Description: </th>
					<td>Borderlands 2 is an action role-playing game played from a first-person perspective.The gameplay revolves around the completion of missions and the collection of randomly generated "loot" (such as weapons, shields, skins, and other items) with various rarities, statistics, and elemental effects. Four playable character classes are available in the base game, each with their own unique abilities and skill trees: Axton, "the Commando", can summon a turret to provide offensive support. Maya, "the Siren", can "phaselock" enemies by trapping them in a sphere of energy for a few seconds. Zero, "the Assassin", can temporarily become invisible and spawn a hologram decoy to distract enemies; an attack delivered in this state provides bonus damage. Salvador, "the Gunzerker", can use his titular ability to temporarily dual-wield weapons.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href="gearbox.html">Gearbox Software</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href="xbox360.html">Xbox 360</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> September 18, 2012 </td>
				</tr>
			</table>
		</table>
	</body>
</html>