<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Child of Light</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href="index.html">Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href="games.html">Games</a></li>
							<li><a href="platforms.html">Platforms</a></li>
							<li><a href="developers.html">Developers</a></li>
							<li><a href="about.html">About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/ChildofLight.jpg" alt="Child of Light" id = "photo" width = 250px></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> Child of Light </td>
				<tr>
					<th> Description: </th>
					<td>Child of Light's gameplay is described as having attributes of a side-scroller with role-playing elements such as leveling up to increase stats over time.Battles with enemies use a system similar to the active-time battle system found in games like the Final Fantasy series and the Grandia series.The player can control up to two characters during battle, while the other characters don't level up the same way. Up to three enemies can appear during battle. If the player approaches an enemy from behind the battle becomes a "Surprise Strike", giving the player an advantage. If the enemy approaches the player from behind, it becomes an "Ambush", giving the enemy an advantage. The character Igniculus is used as an in-game mechanic during battle. The player can freely move Igniculus and shine his light on an enemy to slow it down or on an ally to heal them.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href="ubisoft.html">Ubisoft</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href="pc.html">PC</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> April 29, 2014 </td>
				</tr>
			</tr>
		</table>
			</table>
	</body>
</html>