<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FTL: Faster Than Light</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href={{ url_for('games') }}>Games</a></li>
							<li><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/FTL.jpg" alt="FTL" id = "photo" width="300px"></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> FTL: Faster Than Light </td>
				<tr>
					<th> Description: </th>
					<td>The player controls a spacecraft capable of traveling faster-than-light (FTL). It belongs to the Galactic Federation, which is on the verge of collapse after losing a war with rebel forces, chiefly human in species. The player's crew intercepts a data packet from the rebel fleet containing information that could throw the rebels into disarray and ensure a Federation victory. The goal is to reach Federation headquarters, waiting several space sectors away, while avoiding destruction or capture by the pursuing rebels. The final sector ends with a battle against the Rebel Flagship, a multi-stage fight which results in victory or defeat for the Federation.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href="subset.html">Subset Games</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href="pc.html">PC</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> September 14, 2012 </td>
				</tr>
			</table>
		</table>

	</body>
</html>