<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gearbox Software</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li><a href={{ url_for('games') }}>Games</a></li>
							<li><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li class = "active"><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

		<div id="description">
			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/Gearbox.jpg" alt="Gearbox" id = "photo" width="250px"/></td>
				<td>
				<table>
				<tr>
					<th> Developer Name: </th>
					<td> Gearbox Software </td>
				<tr>
					<th> Description: </th>
					<td>Gearbox Software, LLC is an American video game development company based in Frisco, Texas. It was established in 1999 by developers from companies such as 3D Realms and Bethesda Softworks, with one of the founders, Randy Pitchford, as CEO. The company initially created expansions for the Valve Corporation game Half-Life, then ported that game and others to console platforms. In 2005 Gearbox launched its first independent set of games, Brothers in Arms, on console and mobile devices. It became their flagship franchise and spun off a comic book series, television documentary, books, and action figures. Their second original game series Borderlands was released in 2009, and by 2015 had sold over 26 million copies. The company also owns the intellectual property of Duke Nukem and Homeworld.</td>
				</tr>
				<tr>
					<th> City: </th>
					<td>Frisco</td>
				</tr>
				<tr>
					<th> Country: </th>
					<td>US</td>
				</tr>
				<tr>
					<th> Established: </th>
					<td> 1999 </td>
				</tr>
				<tr>
					<th> Games developed: </th>
					<td><a href="borderlands2.html">Borderlands 2</a></td>
				</tr>
			</table>
		</table>
		</div>
	</body>
</html>