<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PC</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li><a href={{ url_for('games') }}>Games</a></li>
							<li class = "active"><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

		<div id="description">
			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/PC.png" alt="PC" id = "photo" width="250px"></td>
				<td>
				<table>
				<tr>
					<th> Platform Name: </th>
					<td> PC </td>
				<tr>
					<th> Description: </th>
					<td>PC games, also known as computer games or personal computer games, are video games played on a personal computer rather than a dedicated video game console or arcade machine. Their defining characteristics include a lack of any centralized controlling authority, a greater degree of user control over the video-gaming hardware and software used and a generally greater capacity in input, processing, and output.</td>
				</tr>
				<tr>
					<th> Brand: </th>
					<td>Dell, HP, Asus</td>
				</tr>
				<tr>
					<th> Media: </th>
					<td>Digital (Software)</td>
				</tr>
				<tr>
					<th> Operating System: </th>
					<td>Windows</td>
				</tr>
				<tr>
					<th> Best Selling Game: </th>
					<td>Minecraft</td>
				</tr>
				<tr>
					<th> Games: </th>
					<td><a href="childoflight.html"> Child of Light, </a> <a href="ftl.html"> Faster than Light </a></td>
				</tr>
			</table>
		</table>
		</div>
	</body>
</html>