<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pokemon Blue</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href="index.html">Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href="games.html">Games</a></li>
							<li><a href="platforms.html">Platforms</a></li>
							<li><a href="developers.html">Developers</a></li>
							<li><a href="about.html">About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/PokemonBlue.jpg" alt="Borderlands2" id = "photo" width="300px"></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> Pokemon Blue </td>
				<tr>
					<th> Description: </th>
					<td>The player controls the protagonist from an overhead perspective and navigates him throughout the fictional region of Kanto in a quest to master Pokémon battling. The goal of the games is to become the champion of the Pokémon League by defeating the eight Gym Leaders and then the top four Pokémon trainers in the land, the Elite Four. Another objective is to complete the Pokédex, an in-game encyclopedia, by obtaining the 150 available Pokémon.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href="GameFreak.html">Game Freak</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href="GameBoy.html">Game Boy</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> September 28, 1998 </td>
				</tr>
			</table>
		</table>
	</body>
</html>