<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PlayStation 4</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li><a href={{ url_for('games') }}>Games</a></li>
							<li class = "active"><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>


		<div id="description">
			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="static/images/PS4.jpg" alt="PS4" id = "photo" width="300px"></td>
				<td>
				<table>
				<tr>
					<th> Platform Name: </th>
					<td> PlayStation 4 </td>
				<tr>
					<th> Description: </th>
					<td>The PlayStation 4 (abbreviated as PS4) is a home video game console developed by Sony Computer Entertainment. Announced as the successor to the PlayStation 3 during a press conference on February 20, 2013, it was launched on November 15 in North America, November 29 in Europe, South America and Australia, and February 22, 2014, in Japan. It competes with Nintendo's Wii U and Microsoft's Xbox One, as part of the eighth generation of video game consoles.</td>
				</tr>
				<tr>
					<th> Brand: </th>
					<td>Sony</td>
				</tr>
				<tr>
					<th> Media: </th>
					<td>Blu-ray</td>
				</tr>
				<tr>
					<th> Operating System: </th>
					<td>Orbit OS</td>
				</tr>
				<tr>
					<th> Best Selling Game: </th>
					<td>Uncharted 4: A Thief's End</td>
				</tr>
				<tr>
					<th> Games: </th>
					<td><a href={{ url_for('Uncharted4') }}> Uncharted 4: A Thief's End </a></td>
				</tr>
			</table>
		</table>
		</div>
	</body>
</html>