<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Subset Games</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href="index.html">Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li><a href="games.html">Games</a></li>
							<li><a href="platforms.html">Platforms</a></li>
							<li class = "active"><a href="developers.html">Developers</a></li>
							<li><a href="about.html">About</a></li>
						</ul>
					</nav>
				</div>
			</div>

		<div id="description">
			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/Subset.jpg" alt="Subset" id = "photo" width="250px"></td>
				<td>
				<table>
				<tr>
					<th> Developer Name: </th>
					<td> Subset Games </td>
				<tr>
					<th> Description: </th>
					<td>Subset Games was founded by Justin Ma and Matthew Davis, both former 2K China employees. Their first released title was FTL: Faster Than Light which was the product of a successful Kickstarter campaign which raised over 2000% of their requested budget. In February of 2017 Subset Games announced development of a new title Into The Breach.</td>
				</tr>
				<tr>
					<th> City: </th>
					<td>Shanghai</td>
				</tr>
				<tr>
					<th> Country: </th>
					<td>China</td>
				</tr>
				<tr>
					<th> Established: </th>
					<td>2010</td>
				</tr>
				<tr>
					<th> Games developed: </th>
					<td><a href="ftl.html"> Faster than Light </a></td>
				</tr>
			</table>
			</table>
		</div>
	</body>
</html>