<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Super Mario Galaxy</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href={{ url_for('games') }}>Games</a></li>
							<li><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="static/images/SuperMarioGalaxy.jpg" alt="Super Mario Galaxy" id = "photo"></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> Super Mario Galaxy </td>
				<tr>
					<th> Description: </th>
					<td>Super Mario Galaxy is a 3D action-adventure platformer game for the Wii console, first released in 2007. It is the third Mario 3D platformer, and the follow-up to Super Mario 64 as well as Super Mario Sunshine. However, unlike the previous two 3D adventure installments for the Mario franchise, this game takes place in deep space. Most of the game's levels consist of many small planets and planetoids, while others have bigger planets.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href={{ url_for('Nintendo') }}>Nintendo</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href={{ url_for('Wii') }}>Wii</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> November 1, 2007 </td>
				</tr>
			</tr>
		</table>
			</table>
	</body>
</html>