<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Uncharted 4: A Thief's End</title>
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="static/css/style.css" rel="STYLESHEET" type="text/css">
		<!-- theme file for data tables -->
		<link rel="stylesheet" href="http://mottie.github.io/tablesorter/css/theme.metro-dark.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- load jQuery and tablesorter scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	</head>

	<body>
			<div id="banner"></div>
			<div class="masthead clearfix" style="position: absolute">
				<div class="inner">
					<nav>
						<h3 class="masthead-brand"><a href={{ url_for('index') }}>Video Game Library</a></h3>
						<ul class = "nav masthead-nav">
							<li class = "active"><a href={{ url_for('games') }}>Games</a></li>
							<li><a href={{ url_for('platforms') }}>Platforms</a></li>
							<li><a href={{ url_for('developers') }}>Developers</a></li>
							<li><a href={{ url_for('about') }}>About</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<table class="tablesorter-metro-dark" style="max-width:1200px;margin:auto;">
				<tr>
				<td><img src="images/Uncharted4.jpg" alt="Uncharted4" id = "photo"></td>
				<td>
				<table>
				<tr>
					<th> Title: </th>
					<td> Uncharted 4: A Thief's End </td>
				<tr>
					<th> Description: </th>
					<td>Uncharted 4: A Thief's End is an action-adventure game played from a third-person perspective, with platform game elements. The player assumes control of Nathan Drake, who is physically adept and is able to jump, sprint, climb, swim, scale narrow ledges and wall-faces to get between points, swing with a rope, use a grappling hook and perform other acrobatic actions. Drake can use various weapons to attack enemies. Stealth elements are incorporated into the game, allowing the player to sneak up to enemies and attack them without being noticed.[1] The melee combat system was reworked to avoid the presence of quick time events,[2] and Drake can control vehicles directly.</td>
				</tr>
				<tr>
					<th> Developer: </th>
					<td><a href="NaughtyDog.html">Naughty Dog</a></td>
				</tr>
				<tr>
					<th> Platform: </th>
					<td><a href="PS4.html">PlayStation 4</a></td>
				</tr>
				<tr>
					<th> Release Date: </th>
					<td> May 10, 2016 </td>
				</tr>
			</tr>
		</table>
			</table>
	</body>
</html>